#header{
			font:normal 12px Tahoma,Verdana; /* Setting umum font pada bagian header */
			width:900px; /* Digunakan untuk mengatur lebar header */
			height:400px; /* Digunakan untuk mengatur tinggi header */
			margin-left:auto; /* Digunakan untuk mengatur jarak header dengan tepian layar secara otomatis */
			margin-right:auto; /* Sehingga tampilan header website akan berada tepat di tengah-tengah layar monitor */
			background-color:#ff9900; /*Menambahkan background warna pada header */
		}
		
h1{
  font-family: sans-serif;
}

table {
  font-family: Tahoma, Geneva, sans-serif;
  color: #666;
  text-shadow: 1px 1px 0px #CCC;
  background: #eaebec;
  border: #ccc 1px solid;
}

table th {
  padding: 15px 35px;
  border-left:1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  background: #B0E0E6;
}

table th:first-child{  
  border-left:none;  
}

table tr {
  text-align: center;
  padding-left: 20px;
}

table td:first-child {
  text-align: left;
  padding-left: 20px;
  border-left: 0;
}

table td {
  padding: 15px 35px;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  background: #fafafa;
  background: -webkit-gradient(linear, left top, left bottom, from(#B0E0E6), to(#fafafa));
  background: -moz-linear-gradient(top, #fbfbfb, #fafafa);
}

table tr:last-child td {
  border-bottom: 0;
}

table tr:last-child td:first-child {
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

table tr:last-child td:last-child {
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

table tr:hover td {
  background: #f2f2f2;
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
  background: -moz-linear-gradient(top, #f2f2f2, #f0f0f0);
}
fieldset {
	border: 1px solid #DDDDDD;
	display: inline-block;
	font-size: 14px;
	padding: 1em 2em;
}

legend {
	background:  #B0E0E6;     /* Green */
	color: #FFFFFF;          /* White */
	margin-bottom: 10px;
	padding: 0.5em 1em;
}
label {
	color: #666666;
	display: block;
	font-size: 12px;
}

input[type="text"] {
	border: none;
	border-bottom: 1px solid #DDDDDD;
	font-size: 14px;
	margin-bottom: 15px;
	padding: 0.5em 1em 0.5em 0;
	width: 250px;
}

input[type="text"]:focus {
	border-bottom: 1px solid #BFD48C;     /* Border Green saat focus */
	outline: none;
}

