.container {
	width: 20%;
    margin: 150px 500px;
}
body{
	background-color:#E6E6FA;
}
h2{
 background-color: #53bd80;
 padding: 30px 35px;
 margin: -10px -50px;
 text-align:center;
 color: #fff;
}
 
span{
 display: block;
 margin-bottom: 20px;
 color: red;
}
 
.success{
 display: block;
 margin-top: 20px;
 margin-bottom: 0;
 font-size: 14px;
} 

b{
 color:white;
}

hr{
 margin: 10px -50px;
 border: 0;
 border-top: 1px solid #ccc;
 margin-bottom: 25px;
}
 
div.main{
 width: 306px;
 padding: 10px 50px 30px;
 border: 2px solid gray;
 font-family: raleway;
 float:left;
 margin-top:15px;
}
 
input[type=text]{
 width: 96%;
 height: 25px;
 padding: 5px;
 margin-bottom: 25px;
 margin-top: 5px;
 border: 2px solid #ccc;
 color: #53bd84;
 font-size: 16px;
}

input[type=password]{
 width: 96%;
 height: 25px;
 padding: 5px;
 margin-bottom: 25px;
 margin-top: 5px;
 border: 2px solid #ccc;
 color: #53bd84;
 font-size: 16px;
}
 
label{
 color: #53bd84;
 text-shadow: 0 1px 0 #fff;
 font-size: 14px;
 font-weight: bold;
}
 


#profile {
padding:50px;
border:1px solid grey;
font-size:20px;
background-color: gray;
}
#logout {
float:right;
padding:5px;
border:dashed 1px gray
}
a {
text-decoration:none;
color: black
}
i {
color: white
}
#kotak {
padding:80px;
border:1px solid grey;
font-size:20px;
background-color:#577040;
}
.tmbl{
	padding: 5px 10px;
	border: none;
	border-radius: 5px;
}
.tombol1{
	background-color: grey;
	color: white;
}

	